@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: #ECE9E5;
}

main{
    background-color: #ECE9E5;
    
}


header, .container1{
    width: 100%;
    background-color: #ECE9E5;
}

div.container{
    background-color: #ECE9E5;
}
nav{
    display: flex;
    width: 100%;
    justify-content:space-between;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    background-color: #ECE9E5;

}


.logo{
    display: flex;
    font-size: 25px;
    font-weight: 800;
    color: #3d3d3d;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

b{
    font-size: 40px;
    color: #CEA927;
}

.navItems{
    display: flex;
}

.navItems li{
    list-style-type: none;
    margin: 0 15px;
}

.navItems li a{
    font-size: 15px;
    color: #3d3d3d;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;

}


.links a:hover{
    color: #CEA927;
}

.links a{
    font-size: 1.1em;
    color: #3d3d3d;
    margin: 25px 10px;
}

.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 1.5%;
    overflow: hidden;
}

.wrapper::before{
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 37%;
    background: linear-gradient(45deg,#CEA927,#E0C5E0);
    animation: object1 6s linear infinite;
}

.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg,#CEA927,#E0C5E0);
    animation: object2 6s linear infinite;
}

.cols0{
    width: 60%;
    z-index: 5;
}

.cols{
    width: 50%;
}

.topline{
    display: block;
    position: relative;
    font-size: 20px;
    letter-spacing: 5px;
    color: #3d3d3d;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #CEA927;
}

h1{
    display: block;
    font-size: 3.8em;
    font-weight: 900;
    color: #3d3d3d;
}

.multiText{
    color: #CEA927;
    text-transform: capitalize;
}

p{
    display: block;
    width: 100%;
    font-size: 1.1em;
    color: #3d3d3d;
}

.btns{
    width: 100%;
    position: relative;
    
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background-color: #3d3d3d;
    padding: 8px 14px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.082);
    border-radius: 5px;
    
}

button:hover{
background-color: #CEA927;
}

.imgbox img{
    position: relative;
    height: 50%;
    left: 25px;
    animation: animateUser 6s linear infinite;
    margin-left: 170px;
}

/*Skills*/

#containercard{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
}

.container .card{
    position: relative;
    width: 220px;
    height: 250px;
    background-color: #ECE9E5;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
    


}

.container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
    
}

.container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 4;
    stroke: #ECE9E5;
    transform: translate(5px, 5px);
}

.container .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
    
}

.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var (--clr);
    
}

.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
    margin-top: 3px;
}

.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3d3d3d;
    font-weight: 700;
    font-size: 2.5em;
}

.number h2 span{
    font-weight: 300;
    color: #3d3d3d;
    font-size: 0.5em;
    
}

.number p{
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 2px;
    line-height: 2px;
    text-transform: uppercase;
    color: #3d3d3d;
}

.titulo{
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
}

/*Footer*/

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ECE9E5;
    height: auto;
    padding-top: 40px;
    color: #3d3d3d;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3rem;
    text-transform: uppercase;
}

.footer-content p{
    max-width: 500px;
    margin: 0px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #3d3d3d;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover{
    color: #CEA927;
}


b.footer{
    font-size: 50px;
}

ul{
    padding-left: 0px;
}

/*Proyecto*/

.cardproyecto{
    position: relative;
    width: 350px;
    height: 190px;
    background-color: #ECE9E5;
    border-radius: 15px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.062);
    transition: 0.5s;
    margin: 10px;
}

.cardproyecto:hover{
    height: 450px;
}

.proyectocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #ECE9E5;
}


.imgBx{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    width: 150px;
    height: 150px;
    background-color: #ECE9E5;
    border-radius: 50%;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.082);
    overflow: hidden;
    transition: 0.5s;
}

.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardproyecto:hover .imgBx{
    width: 250px;
    height: 250px;
}

.cardproyecto .content{
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: flex-end;
overflow: hidden;
}
.cardproyecto:hover .content .details{
    transform: translateY(0px);
}
.cardproyecto .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
    
}

.cardproyecto .content .details h2{
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
}

.cardproyecto .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.cardproyecto .content .details .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.cardproyecto .content .details .data h3{
    font-size: 1em;
    color: #3d3d3d;
    line-height: 1.2em;
    font-weight: 600;
}

.cardproyecto .content .details .data h3 span{
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}


@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animateDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

@keyframes object1{
    50%{
        left: -13%;
        top: 38.5%;
    }
}

@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}

@keyframes animateUser{
    50%{
        right: 10px; 
        left: 10px;
    }
}